<section class="intro">
  <div class="container grid">
    <div class="intro__content">
      <h2 class="intro__title">
        Where we work
      </h2>
      <p class="intro__desc">
        We're expanding. Get in touch and start turning your data into action.
      </p>
      <button class="intro__btn btn">Get&nbsp;in&nbsp;touch</button>
    </div>
    <div class="intro__map">
      <img src="img/map.svg" loading="lazy" width="461" height="342" alt="map" class="intro__map-image">
    </div>
  </div>
</section>