<section class="partners">
  <div class="container partners__container flex">
    <h2 class="partners__title">
      Partners
    </h2>
    <ul class="partners__list">
      <li class="partners__item">
        <a href="#" target="_blank" class="partners__link">
          <img src="img/partners/reform.jpg" alt="image" class="partners__logo" width="160" height="67">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" target="_blank" class="partners__link">
          <img src="img/partners/futures.jpg" alt="image" class="partners__logo" width="160" height="67">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" target="_blank" class="partners__link">
          <img src="img/partners/right.jpg" alt="image" class="partners__logo" width="160" height="67">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" target="_blank" class="partners__link">
          <img src="img/partners/moz.jpg" alt="image" class="partners__logo" width="160" height="67">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" target="_blank" class="partners__link">
          <img src="img/partners/aglu.jpg" alt="image" class="partners__logo" width="160" height="67">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" target="_blank" class="partners__link">
          <img src="img/partners/y.jpg" alt="image" class="partners__logo" width="160" height="67">
        </a>
      </li>
    </ul>
    <a href="#" class="partners__more">
      See All
    </a>
  </div>
</section>